@charset "utf-8";
/* CSS Document */

.right{ float:right}
.right{ float:right}
.clear{ clear:both}
.red{ color:red }
.green{ color:green }
.blue{ color:blue }

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 10px;
    margin-left: -20px;
}

/*控制菜单箭头*/
.nav-header.collapsed > span.glyphicon-chevron-toggle:before {
    content: "\e114";
}

.nav-header > span.glyphicon-chevron-toggle:before {
    content: "\e113";
}
